.DS_Store
exampleGameCenter/exampleGameCenter.xcodeproj/xcuserdata/*
exampleGameCenter/exampleGameCenter.xcodeproj/project.xcworkspace/*
exampleGameCenter/CordovaLib/CordovaLib.xcodeproj/xcuserdata/*
exampleGameCenter/www/GameCenterPlugin.js
